<div id="combat-carousel" class="wrapper">
    <div class="toggle">
        <a id="combat-carousel-toggle">
            <img class="carousel-icon" src={{#if turns}}"modules/combat-carousel/icons/combat-carousel.svg"{{else}}"modules/combat-carousel/icons/empty-carousel.svg"{{/if}}>
        </a>
    </div>
    <div class="overlay"><h1>Round: {{this.round}}</h1></div>
    <div class="info-bar"></div>
    <div class="splide">
        <div class="splide__slider">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#each turns}}
                    <li class="splide__slide card" data-combatant-id={{this.id}}>
                        <div class="name">
                            <h3>{{this.name}}</h3>
                        </div>
                        <div class="splide__container">
                            <div class="attributes">
                                {{#each this.carousel.attributes}}
                                <div class="attribute">
                                    <img src="{{this.img}}"/>
                                        {{this.value}}
                                </div>
                                {{/each}}
                            </div>
                            <div class="initiative">
                                <a class="roll-init">
                                    <span class="fa-stack fa-2x">
                                    <i class="fas fa-dice-d20 fa-stack-2x" title="click to roll, right-click to set"></i>
                                    <strong class="fa-stack-1x fa-inverse" title="{{#if this.initiative}}{{this.initiative}} - {{/if}}click to roll, right-click to set">{{this.initiative}}</strong>
                                </span>
                                </a>
                            </div>
                            <div class="effects">
                                {{#each this.carousel.effects}}
                                <div class="effect">
                                    <img src="{{this}}"/>
                                </div>
                                {{/each}}
                            </div>
                            <div class="avatar">
                                <img src="{{this.img}}" title="{{this.name}}"/>
                            </div>
                        </div>
                        <header class="header">
                        <!-- <h3>{{this.name}}</h3> -->
                        </header>
                        <div class="hp" width="100%">
                            <meter value="{{this.carousel.hp.value}}" min="0" max="{{this.carousel.hp.max}}" title="{{this.carousel.hp.value}}/{{this.carousel.hp.max}}" optimum="{{this.carousel.hp.optimum}}" low="{{this.carousel.hp.low}}" high="{{this.carousel.hp.high}}"></meter>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>