<div id="combat-carousel" class="wrapper">
    <header class="header">
        {{!-- {{#if this.encounter}}
        <h3>
            Encounter: {{this.encounter}} Round: {{this.round}}
        </h3>
        {{/if}} --}}
    </header>
    <div class="splide">
        <div class="splide__slider">
            <div class="combat-control">
                {{#if this.hasPreviousTurn}}
                <a class="previous turn" title="{{localize "COMBAT_CAROUSEL.CAROUSEL.PreviousTurn"}}" data-action="previousTurn"><i class="fas fa-chevron-left"></i></a>
                {{/if}}
                {{#if this.hasPreviousRound}}
                <a class="previous round" title="{{localize "COMBAT_CAROUSEL.CAROUSEL.PreviousRound"}}" data-action="previousRound"><i class="fas fa-step-backward"></i></a>
                {{/if}}
                {{#if this.hasNextTurn}}
                <a class="next turn" title="{{localize "COMBAT_CAROUSEL.CAROUSEL.NextTurn"}}" data-action="nextTurn"><i class="fas fa-chevron-right"></i></a>
                {{/if}}
                {{#if this.hasNextRound}}
                <a class="next round" title="{{localize "COMBAT_CAROUSEL.CAROUSEL.NextRound"}}" data-action="nextRound"><i class="fas fa-step-forward"></i></a>
                {{/if}}
            </div>
            <div class="splide__track">
                <ul class="splide__list">
                    {{#each turns}}
                        {{> "modules/combat-carousel/templates/combatant-card.hbs" combatant=this}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="drag-handle" title="{{localize "COMBAT_CAROUSEL.CAROUSEL.DragTooltip"}}">
        <i class="fas fa-bars"></i>
    </div>
    {{#if this.encounter}}
    <div class="encounter-info flexcol">
        <div class="encounter flexrow" title="{{localize "COMBAT_CAROUSEL.WORDS.Encounter"}} {{this.encounter}}">
            <a class="encounter-control previous" title="{{localize "COMBAT_CAROUSEL.Carousel.Controls.PreviousEncounter"}}">
                <i class="fas fa-caret-left"></i>
            </a>
            <span class="counter">{{this.encounter}}</span>
            {{#if canControlCombat}}
            <a class="encounter-control next" title="{{localize "COMBAT_CAROUSEL.Carousel.Controls.NextEncounter"}}">
                <i class="fas fa-caret-right"></i>
            </a>
            {{/if}}
            {{#if canControlCombat}}
            <a class="encounter-controls-toggle">
            {{/if}}
                <i class="fas fa-fist-raised"></i>
            {{#if canControlCombat}}
            </a>
            {{/if}}
        </div>
        <div class="round flexrow" title="{{localize "COMBAT_CAROUSEL.WORDS.Round"}} {{this.round}}">
            {{!-- <a class="round-previous">
                <i class="fas fa-caret-left"></i>
            </a> --}}
            <span class="counter">{{this.round}}</span>
            {{!-- <a class="round-next">
                <i class="fas fa-caret-right"></i>
            </a> --}}
            <i class="fas fa-circle-notch"></i>
        </div>
    </div>
    {{#if canControlCombat}}
    <div class="initiative-control">
        <a class="encounter-control create" title="{{localize "COMBAT_CAROUSEL.Carousel.Controls.CreateEncounter"}}">
                <i class="fas fa-plus"></i>
            </a>
            <a class="encounter-control delete" title="{{localize "COMBAT_CAROUSEL.Carousel.Controls.DeleteEncounter"}}">
                <i class="fas fa-trash"></i>
            </a>
        <a title="{{localize "COMBAT_CAROUSEL.Carousel.Controls.RollAll"}}" data-control="rollAll">
            <i class="fas fa-users"></i>
        </a>
        <a title="{{localize "COMBAT_CAROUSEL.Carousel.Controls.RollNPCs"}}" data-control="rollNPC">
            <i class="fas fa-users-cog"></i>
        </a>
        <a title="{{localize "COMBAT_CAROUSEL.Carousel.Controls.ResetAll"}}" data-control="resetAll">
            <i class="fas fa-undo"></i>
        </a>
        <a class="encounter-control config" title="{{localize "COMBAT_CAROUSEL.Carousel.Controls.EncounterConfig"}}">
                <i class="fas fa-cog"></i>
            </a>
    </div>
    {{/if}}
    {{/if}}
    {{!-- <div class="resize-handle">
        <i class="fas fa-arrows-alt-h"></i>
    </div> --}}
    <div class="encounter-controls flexrow">
            <a class="encounter-control create" title="{{localize "COMBAT_CAROUSEL.Carousel.Controls.CreateEncounter"}}">
                <i class="fas fa-plus"></i>
            </a>
            <a class="encounter-control delete" title="{{localize "COMBAT_CAROUSEL.Carousel.Controls.DeleteEncounter"}}">
                <i class="fas fa-trash"></i>
            </a>
            <a class="encounter-control config" title="{{localize "COMBAT_CAROUSEL.Carousel.Controls.EncounterConfig"}}">
                <i class="fas fa-cog"></i>
            </a>
        </div>
</div>