<div id="combat-carousel" class="wrapper">
    <div class="carousel-icon">
        <a id="combat-carousel-toggle" title="{{#if this.encounter}}Encounter: {{this.encounter}} / Round: {{this.round}}{{else}}no encounter{{/if}}&#10;click to hide/unhide, right click for config">
            <img src="{{carouselIcon}}">
        </a>
        <span class="encounter">{{this.encounter}}</span>
        <span class="round">{{this.round}}</span>
    </div>
    <div class="overlay"><h1>Round: {{this.round}}</h1></div>
    <div class="splide">
        <div class="splide__slider">
            <div class="combat-control">
                {{#if this.hasPreviousTurn}}
                <a class="previous turn" title="{{localize "CAROUSEL.PreviousTurn"}}" data-action="previousTurn"><i class="fas fa-chevron-left"></i></a>
                {{/if}}
                {{#if this.hasPreviousRound}}
                <a class="previous round" title="{{localize "CAROUSEL.PreviousRound"}}" data-action="previousRound"><i class="fas fa-step-backward"></i></a>
                {{/if}}
                {{#if this.hasNextTurn}}
                <a class="next turn" title="{{localize "CAROUSEL.NextTurn"}}" data-action="nextTurn"><i class="fas fa-chevron-right"></i></a>
                {{/if}}
                {{#if this.hasNextRound}}
                <a class="next round" title="{{localize "CAROUSEL.NextRound"}}" data-action="nextRound"><i class="fas fa-step-forward"></i></a>
                {{/if}}
            </div>
            <div class="splide__track">
                <ul class="splide__list">
                    {{#each turns}}
                        {{> "modules/combat-carousel/templates/combatant-card.hbs" combatant=this}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>