<form onsubmit="event.preventDefault()" autocomplete="off">
    {{#each overlaySettings}}
    <div class="overlay-row" data-row="{{@index}}">
        <div class="form-group">
            <label>Property {{@index}} Name</label>
            <input type="text" name="name-{{@index}}" value="{{this.name}}" placeholder="Overlay Property {{@index}} Name">
        </div>
        <div class="form-group">
            <label>Property {{@index}} Value</label>
            <input type="text" name="actor-property-{{@index}}" value="{{this.value}}" placeholder="Overlay Property {{@index}} Value">
        </div>
        <img src="{{this.img}}" class="icon" />
        <div class="flexrow">
            <input type="text" name="icon-{{@index}}" title="Overlay Icon Path" class="icon-path" value="{{this.img}}" placeholder="/icons/example.svg" data-dtype="String">
            <button type="button" name="file-picker-{{@index}}" class="file-picker" data-type="image" data-target="icon-{{@index}}" title="Browse Files" tabindex="-1">
                <i class="fas fa-file-import fa-fw"></i>
            </button>
        </div>
    </div>
    <hr />
    {{/each}}
    <footer class="flexrow">
        <button type="submit" name="save"><i class="fas fa-save"></i> {{localize "WORDS.Save"}}</button>
        <button type="button" name="cancel"><i class="fas fa-times"></i>{{localize "WORDS.Cancel"}}</button>
    </footer>
</form> 